/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, input {
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
}

a, a:visited {
    color: #158ad1;
}

a:hover {
    color: #000;
}

input {
    width: calc(100% - 45px);
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #000;
}

#floating-panel {
    top: 0px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    border: solid 2px 000;
    padding: 15px;
    line-height: 150%;
}

#floating-panel-header button {
    position: relative;
    top: -3px;
}

#maps-error {
    visibility: hidden;
}

#more-info-bottom {
    margin: -15px;
    position: fixed;
    bottom: 0;
    background-color: none;
    width: 100%;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, 220px);
    transform: translate(0, 220px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

    position: fixed;
    bottom: 0;
#more-info-bottom.open {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
}

#more-info-right {
    position: fixed;
    right: 0;
    top: 65px;
    height: calc(100% - 65px);
     /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(160px, 0);
    transform: translate(160px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

#more-info-right.open {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
     overflow: auto;
}

.infoWindowTitle {
    text-align: center;
    font-size: 150%;
}

#yelp {
    min-width: 200px;
    min-height: 100px;
}


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#flickr-bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: auto;
}

.flickr-more {
    /*flex-grow: 4;*/
    background-color: #fff;
    text-align: center;
    padding-top: 7px;
}

.text-right {
    display: block;
    text-align: right;
}

.text-center {
    display: block;
    text-align: center;
}

.error {
    width: 100%;
    font-size: 200%;
    color: #ba3d36;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.glyphicon-new-window {
    padding: 16px;
}
