/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, input {
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
}

a, a:visited {
    color: #158ad1;
}

a:hover {
    color: #000;
}

input {
    width: calc(100% - 45px);
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #000;
}

#floating-panel {
        top: 0px;
        background-color: #fff;
        position: absolute;
        z-index: 4;
        border: solid 2px 000;
        padding: 15px;
        line-height: 150%;
}

#floating-panel-header button {
    position: relative;
    top: -3px;
}

#maps-error {
    visibility: hidden;
}

.flickr {
    width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 95px;
}

.text-right {
    display: block;
    text-align: right;
}

.text-center {
    display: block;
    text-align: center;
}

.error {
    font-size: 200%;
    color: #ba3d36;
    padding-top: 15px;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
