/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
}

a, a:visited {
    color: #158ad1;
}

a:hover {
    color: #000;
}

.link {
    color: #158ad1;
    text-decoration: none;
    cursor: pointer;
}

.link:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#main-search-input {
    width: calc(100% - 45px);
    padding: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px #000;
}

#floating-panel {
    top: 0px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    border: solid 2px 000;
    padding: 15px;
    line-height: 150%;
    height: 90px;
}

#floating-panel-header button {
    position: relative;
    top: -3px;
}

#collapse-locations {
    top: 90px;
    position: absolute;
    background-color: #fff;
    max-height: calc(100% - 70px);
    overflow-y: auto;
    padding-bottom: 10px;
}

#maps-error {
    display: none;
}

#no-locations-found {
    display: none;
}

/* info window and related items */
.infoWindowTitle {
    text-align: center;
    font-size: 150%;
}

#yelp {
    min-width: 200px;
    min-height: 100px;
}

/* flickr div and related items */
#more-info-bottom {
    margin: -15px;
    position: fixed;
    bottom: 0;
    background-color: none;
    width: 100%;
    /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(0, 220px);
    transform: translate(0, 220px);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
    overflow-y: scroll;
}

#more-info-bottom.open {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
}

#more-info-right {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 167px;
     /* This trasform moves the drawer off canvas. */
    -webkit-transform: translate(160px, 0);
    transform: translate(160px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
}

#more-info-right.add-padding {
    width: 75px;
    margin-top: 70px;
}

#more-info-right.open {
     -webkit-transform: translate(0, 0);
     transform: translate(0, 0);
     overflow: auto;
     height: 100%;
}

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#flickr-bottom {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    overflow: auto;
}

.flickr-more {
    background-color: #fff;
    text-align: center;
    padding-top: 7px;
    height: 57px;
}

/* general styles */
.error {
    width: 100%;
    font-size: 200%;
    color: #ba3d36;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #fff;
    text-align: center;
}

.small-text {
    font-size: 120%;
}

/* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.glyphicon-new-window {
    padding: 16px;
}
